{%extends 'base.html'%}

{%block title%} Kigali Boys Academy-welcome{%endblock%}
{%block content%}
<main>
    <div class="History">
        <h2>"Early childhood education is the key to bettterment of society"</h2>
        <p id="title_descr">
            We are driving discoveries to address global challenges, educating the next generation of leaders
            and partenering with communities to create healthier , more sustainable futures for Kigali Rwanda
            and the whole Africa. Kigali on the rise!
        </p>
    </div>
    <div class="history-description">
        <p>

            Centre Scholaire de Kabeza is a school that was founded by parents in 2006. The aim was to
            serve
            Kabeza
            community children.
            The aim was to reduce commute time and also allow children to build a great and loving
            community.
            Our programs are designed to augment children's mastery of 5 diffrent areas. Science,
            language,
            Math
            and
            community-centric. Children will learn 2 languages:
            French and english and become fluent in them.
        </p>
    </div>

    <table>
        <caption>Tutoring Plans</caption>
        <thead>
            <tr>
                <th>Plan</th>
                <th>Meeting days</th>
                <th>sessions</th>
                <th>Number of Subjects</th>


            </tr>
        </thead>

        <tbody>

            <tr>
                <td>Free Plan</td>
                <td>1 day/week</td>
                <td>Group sessions</td>
                <td>one subject</td>
            </tr>
            <tr>
                <td>Basic plan</td>
                <td>2 day/week</td>
                <td>Group sessions</td>
                <td>Two subjects</td>
            </tr>
            <tr>
                <td>Premium Plan</td>
                <td>4 day/week</td>
                <td>Individual sessions</td>
                <td>Four subjects</td>
            </tr>

        </tbody>

    </table>
</main>
<hr>
<footer>
    Copyright &copy; 2022 Fleur Mushumba<br>
    <a href="mailto:kmushumba@gmail.com">fleurmushumba@ymushumba.com</a>
</footer>

{%endblock%}